{% extends "layout.html" %} {% block content %}
<div style="overflow:scroll; min-height:100px">
<header id="setup-section">
    <div id="type-question" class="centered-div show">
        <h1 class="title">What type of stage micrometer are you using?</h1>
        <span style="height:5%"></span>
        <button id="btn-lines" class="button button-primary button-large">Lines</button>
    </div>
    <div id="distance-question" class="centered-div hide">
        <h1 class="title">What's the distance between the lines?</h1>
        <span style="height:5%"></span>
        <div class="row">
            <div class="col-lg-9">
                <div class="input_with_appended_unit">
                    <input id="input-scale" type="number" min="0" step="0.000001" required></input>
                    <span>μm</span>
                </div>
            </div>
            <div class="col-lg-3">
                <button id="btn-dists" class="button button-primary button-medium">Go</button>
            </div>
        </div>
    </div>
</header>
<header id="main-section" class="hide">
    <h1> Calculate Pixel Size </h1>
    <p> All values are in micron +/- the 95% confidence interval (also in micron). </p>

    <table>

        <td style="vertical-align:top">
            <div id="drop-area" class="centered-div">
                <form id="upload-form">
                    <p>Upload multiple files with the file dialog or by dragging and dropping images onto the dashed region</p>
                    <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
                    <label class="button" for="fileElem">Select some files</label>
                </form>
                <div id="loading" class="hide">
                    <p>Processing</p>
                    <div class="whirlpool">
                        <div class="ring ring1"></div>
                        <div class="ring ring2"></div>
                        <div class="ring ring3"></div>
                        <div class="ring ring4"></div>
                        <div class="ring ring5"></div>
                        <div class="ring ring6"></div>
                        <div class="ring ring7"></div>
                        <div class="ring ring8"></div>
                    </div>
                </div>
            </div>
        </td>
        <td id="settings-area">
            <div>
                <div id="settings-label">
                    <p>Special Settings:</p>
                    <button id="S-button">show</button>
                </div>
                <div id="special-settings" class="hide">
                    <form>
                        <label>Minimum Contour Length</label>
                        <input type="number" id="S-minimum_contour_length" value="" placeholder="Leave Blank for Default">
                        <label>Minimum Ellipse Aspect Ratio</label>
                        <input type="number" id="S-minimum_ellipse_aspect_ratio" value="" placeholder="Leave Blank for Default">
                        <label>Upper Reject ratio</label>
                        <input type="number" id="S-upper_reject_ratio" value="" placeholder="Leave Blank for Default">
                        <label>Lower Reject ratio</label>
                        <input type="number" id="S-lower_reject_ratio" value="" placeholder="Leave Blank for Default">
                        <label>Confidence Level</label>
                        <input type="number" id="S-confidence_level" value="" placeholder="Leave Blank for Default">
                        <label>Max Tip Count</label>
                        <input type="number" id="S-max_tip_count" value="" placeholder="Leave Blank for Default">
                        <label>Min Tip Count</label>
                        <input type="number" id="S-min_tip_count" value="" placeholder="Leave Blank for Default">
                        <label>Canny Kernel Size</label>
                        <input type="number" id="S-canny_kernel_size" value="" placeholder="Leave Blank for Default">
                        <label>Distances to Sample</label>
                        <input type="number" id="S-distances_to_sample" value="" placeholder="Leave Blank for Default">
                        <label>Canny Low Threshold</label>
                        <input type="number" id="S-canny_low_threshold" value="" placeholder="Leave Blank for Default">
                        <label>Canny High Threshold</label>
                        <input type="number" id="S-canny_high_threshold" value="" placeholder="Leave Blank for Default">
                    </form>
                </div>
            </div>
        </td>

    </table>

    <div id="gallery">
        <div id="result-container"></div>
    </div>
</header>
<script src="static/js/main.js"></script>
</div>
{% endblock %}
