<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="static/css/mustard.min.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <title>Calibration</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>